/*
Drupal form image uploader

Pre autoupload module:

<html class="no-js">
    <body>
        <div class="managed_file-input form-col form-item form-element" id="edit-field-event-image-und-0-wrapper">
            <label for="edit-field-event-image-und-0">Upload your event image (optional): </label>
            <div class="image-widget form-managed-file clearfix">
                <div class="image-widget-data">
                    <input type="file" id="edit-field-event-image-und-0-upload" name="files[field_event_image_und_0]" size="22" class="form-file">
                    <input type="submit" id="edit-field-event-image-und-0-upload-button" name="field_event_image_und_0_upload_button" value="Upload" class="form-submit">
                    <input type="hidden" name="field_event_image[und][0][fid]" value="0">
                    <input type="hidden" name="field_event_image[und][0][display]" value="1">
                </div>
            </div>
            <div class="form-description" id="description-for-edit-field-event-image-und-0">
                <p class="description">
                    <small>This image will appear with your event on the Event page.<br>
                    Files must be less than <strong>4 MB</strong>.<br>
                    Allowed file types: <strong>png gif jpg jpeg</strong>.</small>
                </p>
            </div>
        </div>
    </body>
</html>


Post autoupload module:

<html class="js">
    <head>
        <style media="all" type="text/css">
            .image-widget-data input.upload,
            div.form-managed-file input.form-submit[value=Upload],
            #media-add-upload #edit-submit,
            #media-tab-library a.button-yes {
                display:none;
            }
        </style>
    </head>
    <body>
        <!-- As above -->
    </body>
</html>

Styleguide n.nn
*/

$ct-drupal-autoupload-breakpoint: (
    lt-tablet-landscape: (max-width: 767px)
);

$ct-drupal-autoupload-color: (
    active: #ec008c, // pink
    highlight: #fff32a, // yellow
    link: #009fda, // blue
    link_over: #027ab6, // darker blue
    intro: #a4a4a4, // light grey
    heading: #2a2a2a // grey
);

%ct-drupal-autoupload {

    .js & {
        //.image-widget {
        //  .file-upload-js-error {}
        //}

        .image-widget-data {

            position: relative;
            width: 398px;
            height: 40px;

            @include breakpoint( map-get($ct-drupal-autoupload-breakpoint, lt-tablet-landscape ) ) {
                width: (398px - 178px);
            }

            // Hidden real file input
            input[type="file"] {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                cursor: pointer;

                // http://jsfiddle.net/chrometoaster/2zzGF/
                font-size: 100px;
                width: 100%;
                height: 100%;
                @include opacity(0);
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                filter: alpha(opacity=0);
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            }

            // Fake upload button,
            &:before {
                content: "Select image for upload";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;

                width: 40%;
                height: 38px;
                overflow: hidden;

                @include breakpoint( map-get($ct-drupal-autoupload-breakpoint, lt-tablet-landscape ) ) {
                    content: "Select";
                }

                @extend %mw-heading4 !optional;
                background: map-get($ct-drupal-autoupload-color, link);
                color: #fff !important;
                line-height: 41px !important;
                text-align: center;
                padding: 0;
                border: 1px solid map-get($ct-drupal-autoupload-color, link);
                @include border-radius(0);
            }

            &:hover,
            &:focus,
            &.focus {
                &:before {
                    background-color: map-get($ct-drupal-autoupload-color, active);
                    border-color: map-get($ct-drupal-autoupload-color, active);
                }
            }

            // Fake textfield
            > span.file,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;

                width: 60%;
                height: 38px;
                overflow: hidden;

                background: #fafafa;
                color: #666;
                font-size: 14px;
                text-align: center;
                border: 1px solid #e7e7e7;
                border-left: 0;
            }

            > span.file {
                > .file-icon {
                    display: none;
                }

                > a {
                    line-height: 38px;
                    color: #000;
                    cursor: default;
                }
            }

            // Uploaded file size

            > span.file-size {
                display: none;
            }

            // Remove button
            > input[value="Remove"] {
                position: absolute;
                top: 0;
                left: (398px + 10px);

                @include breakpoint( map-get($ct-drupal-autoupload-breakpoint, lt-tablet-landscape ) ) {
                    left: (398px - 178px + 10px);
                }

                background: none;
                color: #525252;
                font-size: 11px;
                line-height: 38px;
                padding: 0;
                border: 0;

                &:hover,
                &:focus {
                    color: map-get($ct-drupal-autoupload-color, link_over);
                }
            }
        }

        // Uploaded image
        div.image-preview {
            float: none;
            margin-bottom: 20px;

            > img {
                @extend %mw-img-polaroid !optional;
            }

            + .image-widget-data {

                // Fake upload button
                &:before,
                &:hover:before,
                &:focus:before {
                    background-color: #999; // faux disabled
                    border-color: #999; // faux disabled
                }

                // Fake textfield
                &:after {
                    display: none;
                }
            }
        }
    }
}